.cart-title{
    font-size: 30px;
    position: relative;
    left: 40%;
    margin-top: 20px;
}

.cart__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(230, 158, 107);
    border-radius: 30px;
    margin: 30px;
    padding: 30px;
}

.cart__item-header{
    width: 25%;
}

.cart__item-btn{
    padding: 10px;
    border-radius: 10px;
    background-color: crimson;
    color: white;
    border: none;
    margin-right: 30px;
    cursor: pointer;
}

.cart__footer{
    font-size: 20px;
    display: flex;
    justify-content: space-around;
}
.cart-total{
    display: flex;
    justify-content: center;
}
.cart__total-global-label{
    margin: 10px;
    font-weight: bold;
}
.cart__total-global-value{
    margin: 10px;
}

.cart-btn{
    border-radius: 20px;
    border: none;
    font-weight: bold;
    background-color: rgb(74, 214, 74);
    -webkit-box-shadow: -14px 1px 3px -8px rgba(0,0,0,0.55);
-moz-box-shadow: -14px 1px 3px -8px rgba(0,0,0,0.55);
box-shadow: -14px 1px 3px -8px rgba(0,0,0,0.55);
    cursor: pointer;
}